<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.vera.myblog">

    <!-- 微博sdk需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activity.PersonalityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presenter.activity.SearchActivity"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.BrowserActivity"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.PicturesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.TopicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.UsersFollowsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.BigPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c30a1b437296779969288015139e53bc" />

        <activity
            android:name=".presenter.activity.AboutAuthorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.NearByLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".presenter.activity.ProblemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2" />
        <activity android:name=".presenter.activity.AboutAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme2"></activity>
    </application>

</manifest>