<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.vera.myblog">

    <!-- 微博sdk需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppBaseTheme2" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OAuthActivity" />
        <activity
            android:name=".presenter.activity.PersonalityActivity"
            android:theme="@style/AppBaseTheme" />
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presenter.activity.SearchActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".presenter.activity.PostActivity"
            android:theme="@style/AppBaseTheme2" />
        <activity android:name=".presenter.activity.CommentDetailActivity"
            android:theme="@style/AppBaseTheme2" ></activity>
    </application>

</manifest>